doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title ESSEC
    //- boootstrap style////////////
    link(rel="icon" href="lib/bootstrap4/img/mdb-favicon.ico" type="image/x-icon")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css")
    link(rel="stylesheet" href="lib/bootstrap4/css/bootstrap.min.css")
    link(rel="stylesheet" href="lib/bootstrap4/css/mdb.min.css")
    //- ///////////////////////- My style
    link(rel="stylesheet" href="css/style.min.css")

  body
    include ../modules/header
    main.home-page.update-02-2020
      include ../modules/bootstrap
    include ../modules/footer

    script(src="js/polyfill.min.js")
    //- Bootstrap script
    script(type="text/javascript" src="lib/bootstrap4/js/jquery.min.js" defer)
    script(type="text/javascript" src="lib/bootstrap4/js/popper.min.js" defer)
    script(type="text/javascript" src="lib/bootstrap4/js/bootstrap.min.js" defer)
    script(type="text/javascript" src="lib/bootstrap4/js/mdb.min.js" defer)
    //- My script
    script(src="js/script.js" defer)
