section.text-center(id="examples")
  h2.mb-5.font-weight-bold Examples
  .row
    .col-lg-4.col-md-12.mb-4
      .view.overlay.hoverable
        img.img-fluid(src="./img/fox-bg.jpeg", alt="fox")
        .mask.flex-center.rgba-red-strong
      h4.my-4.font-weight-bold Heading
      p.grey-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque tempore esse iste?
    .col-lg-4.col-md-6.mb-4
      .view.overlay.hoverable
        img.img-fluid(src="./img/fox-bg.jpeg", alt="fox")
        .mask.flex-center.rgba-red-strong
      h4.my-4.font-weight-bold Heading
      p.grey-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque tempore esse iste?
    .col-lg-4.col-md-6.mb-4
      .view.overlay.hoverable
        img.img-fluid(src="./img/fox-bg.jpeg", alt="fox")
        .mask.flex-center.rgba-red-strong
      h4.my-4.font-weight-bold Heading
      p.grey-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque tempore esse iste?
    .col-lg-4.col-md-12.mb-4
      .view.overlay.hoverable
        img.img-fluid(src="./img/fox-bg.jpeg", alt="fox")
        .mask.flex-center.rgba-red-strong
      h4.my-4.font-weight-bold Heading
      p.grey-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque tempore esse iste?
    .col-lg-4.col-md-6.mb-4
      .view.overlay.hoverable
        img.img-fluid(src="./img/fox-bg.jpeg", alt="fox")
        .mask.flex-center.rgba-red-strong
      h4.my-4.font-weight-bold Heading
      p.grey-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque tempore esse iste?
    .col-lg-4.col-md-6.mb-4
      .view.overlay.hoverable
        img.img-fluid(src="./img/fox-bg.jpeg", alt="fox")
        .mask.flex-center.rgba-red-strong
      h4.my-4.font-weight-bold Heading
      p.grey-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque tempore esse iste?