section.features.text-center(id="best-features")
  h2.mb-5.font-weight-bold Best Features
  .row.d-flex.justify-content-center.mb-4
    .col-md-8
    p.grey-text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus tempore nesciunt numquam voluptas laboriosam placeat officiis, sunt sed in! Pariatur modi eos sunt dolorem delectus amet ipsa exercitationem dignissimos velit.
  .row
    .col-md-4.mb-5
      i.fa.fa-archive.fa-4x.grey-text
      h4.my-4.font-weight-bold Archive
      p.grey-text Eveniet in placeat sint! Minima, vel. Eveniet in placeatEveniet in placeat sint! Minima, vel.
    .col-md-4.mb-5
      i.fa.fa-glasses.fa-4x.grey-text
      h4.my-4.font-weight-bold Glasses
      p.grey-text Blanditiis sint eius impedit perferendis vero, aliquid nobis adipisci qui fuga. Eveniet in placeat sint! Minima, vel.
    .col-md-4.mb-5
      i.fa.fa-road.fa-4x.grey-text
      h4.my-4.font-weight-bold Road
      p.grey-text Reiciendis minima corrupti, vel, blanditiis sint eius impedit perferendis vero, aliquid nobis adipisci qui fuga. Eveniet in placeat sint! Minima, vel.
