footer.page-footer.font-small.unique-color-dark.pt-0
  .primary-color
    .container
      .row.py-4.d-flex.align-items-center
        .col-md-6.col-lg-5.text-center.text-md-left.mb-4.mb-md-0
          h6.mb-0.white-text Get connected with us on social networks!
        .col-md-6.col-lg-7.text-center.text-md-right
          a.fb-ic.ml-0(href="#")
            i.fa.fa-facebook.white-text.mr-4
          a.fb-ic.ml-0(href="#")
            i.fa.fa-twitter.white-text.mr-4
          a.fb-ic.ml-0(href="#")
            i.fa.fa-instagram.white-text.mr-4
  .container.mt-5.mb-4.text-center.text-md-left
    .row.mt-3
      .col-md-3.col-lg-4.col-xl-3.mb-4
        h6.text-uppercase.font-weight-bold
          strong Our company
        hr.deep-purple.accent-2.mb-4.mt-0.d-inline-block.mx-auto(style="60px")
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic officiis quia minima eligendi?
      .col-md-2.col-lg-2.col-xl-2.mx-auto.mb-4
        h6.text-uppercase.font-weight-bold
          strong Products
        hr.deep-purple.accent-2.mb-4.mt-0.d-inline-block.mx-auto(style="60px")
        p
          a(href="#") MDBootstrap
        p
          a(href="#") MDBootstrap
        p
          a(href="#") MDBootstrap
      .col-md-3.col-lg-2.col-xl-2.mx-auto.mb-4
        h6.text-uppercase.font-weight-bold
          strong Links
        hr.deep-purple.accent-2.mb-4.mt-0.d-inline-block.mx-auto(style="60px")
        p
          a(href="#") Account
        p
          a(href="#") Help
        p
          a(href="#") MDBootstrap
      .col-md-4.col-lg-3.col-xl-3
        h6.text-uppercase.font-weight-bold
          strong Contact
        hr.deep-purple.accent-2.mb-4.mt-0.d-inline-block.mx-auto(style="60px")
        p
          i.fa.fa-home.mr-3 London
        p
          i.fa.fa-envelope.mr-3 info@gmail.com
        p
          i.fa.fa-phone.mr-3 8 800 555 35 35
